/* MIXINS ------------------------------------------------- */
/* BASE ------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

/* NAV ------------------------------------------------- */
nav {
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10000;
  min-height: 8vh;
  background-color: transparent;
  height: 10vh;
  transition: background-color 250ms ease-in;
}
nav img {
  margin-top: 3em;
  margin-bottom: 3em;
  height: 80px;
}

.nav-links {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 0.5em;
  display: flex;
  position: absolute;
  left: 0px;
  height: 92vh;
  top: 10vh;
  background-color: #fff4ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}
.nav-links a {
  color: black;
  text-decoration: none;
  position: inherit;
  letter-spacing: 4px;
}
.nav-links li {
  list-style-type: none;
  font-size: 2em;
  opacity: 0;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 80%;
}

.nav-scrolled {
  background-color: #fbf9f5;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.burger {
  display: block;
  cursor: pointer;
  margin-left: 1em;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0);
}

/* HERO ------------------------------------------------- */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/laura-1.jpg");
  /* Set a specific height */
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.hero-text h1 {
  font-family: "Prata", serif;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 500;
  font-size: 3.8em;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 2em;
  background-color: rgba(255, 244, 237, 0.8);
}
.hero-text p {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  text-transform: uppercase;
  width: 90%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5em;
}

/* HOME SECTION ------------------------------------------------- */
.home {
  background-color: #fbf9f5;
  overflow: hidden;
}
.home h2 {
  font-weight: 400;
  background-color: #fff;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  letter-spacing: 4px;
  width: 30%;
  margin: 1em auto;
}
.home h3 {
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.home img {
  width: 100%;
}

.projectThumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  margin: 0px auto 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: 100%;
  transition: all 0.4s ease;
}

#about-me {
  background-image: url("../img/laura-3.jpg");
}

#colour-match {
  background-image: url("../img/makeup.jpeg");
}

#artist-mentor {
  background-image: url("../img/artist.jpg");
}

#shop {
  background-image: url("../img/makeup-2.jpg");
}

#contact {
  background-image: url("../img/laura-2.jpg");
}

/* IG BANNER SECTION ------------------------------------------------- */
.ig-banner {
  width: 100%;
  background-color: #c58f69;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ig-banner h2 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ig-banner a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 0.5em;
  padding: 1em;
  letter-spacing: 3px;
  transition: all 0.5s ease-in;
}
.ig-banner a:hover {
  text-decoration: underline;
}

/* FOOTER SECTION ------------------------------------------------- */
footer {
  background-color: #fff4ed;
}

/* KEYFRAMES ------------------------------------------------- */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .burger-line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger-line-2 {
  opacity: 0;
}

.toggle .burger-line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*# sourceMappingURL=styles.css.map */
